<!DOCTYPE html>
<html>
<head>
<title>TNBT</title> <!-- This, like all instacnes of the app name, should refer to a global template varible that we define somewhere, so that we can change the name of the app once we decide on it easily and painlessly. -->
</head>
<body>
<h1>It works!</h1>
<form action="/edit" method="post" id="editform">
<input type="submit" value="Edit">
{{ xsrf_form_html() }}
</form>


</form>

<form action="/view" method="post" id="viewform">
<input type="text" value="" name="name">
<input type="submit" value="View">
{{ xsrf_form_html() }}
</form>
<small><tt>..and it's not Apache...</tt></small>
</body>
</html>
