{% extends "base.html" %}
{% block body %}

    <ul>
        {% for top in globtops %}
          <li><a href="/{{ url_escape(top) }}/">{{ top }}</a></li>
        {% end %}
    </ul>
    <script type="text/javascript">
$(function()
{
    function newRequest()
    {
    	console.log("newrequest");
    	$.post("/waitforcomments", {"discussion_id": "fa4053c1-abbf-4914-8c02-5c85591e059a" }, function(data) {
                
                alert(data);
                newRequest();
                
		});
    }
	newRequest();
});
</script>
{% end %}
