{% extends "base.html" %}
{% block title %}{{ topic }}{% end %}
{% block body %}

    <a href="/">TNBT</a> --> <a href="/{{ url_escape(glob_topic) }}/">{{ glob_topic }}</a> --> <a href="/{{ url_escape(glob_topic) }}/{{ url_escape(glob_locale) }}/">{{ glob_locale }}</a> --> 
    <a href="/{{ url_escape(glob_topic) }}/{{ url_escape(glob_locale) }}/{{ url_escape(topic) }}/">{{ topic }}</a>
    <ul>
        {% for locale in locales %}
            <li><a href="{{ url_escape(locale[0]) }}/">{{ locale[0] }}</a></li>
        {% end %}
    </ul>    

{% end %}